body
{
    background-color: rgb(119, 194, 190);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: fixed;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}