body
{
    background: linear-gradient(90deg, rgba(0,0,0,0.7 ) 0%, rgba(0,0,0,0.5) 25%, rgba(0,228,255,0) 100%);
}

.index
{
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url("div.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 200px;
    font-size: x-large;
    box-shadow: 5px 5px 10px grey;
    text-decoration: none;
    color: black;
    margin: 20px;
    display: block;
}

.index:hover
{
    background-color: black;
    color: grey;
    box-shadow: 0 0 10px 10px grey;
}

.img
{
    clip-path: circle();
}

.center
{
    float: right;
    text-decoration: none;
    color: black;
    font-size: large;
}

.center a
{
    text-decoration: none;
    color: black;
}

.center a:hover
{
    color: grey;
}
